
@{
    ViewData["Title"] = "AddCar";
}

<h1>Add Car</h1>

<form action="AddCar" method="post">
    <input type="text" name="make" value="" placeholder="make" />
    <input type="text" name="model" value="" placeholder="model"/>
    <input type="number" name="year" value=""placeholder="year" />
    <input type="text" name="color" value=""placeholder="color" />

    <input type="submit" value="Add car!" />
</form>